body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient( rgba(0,0,0, 0.4),rgba(0,0,0, 0.3)), url(https://fondosmil.co/fondo/116758.gif);
    background-size: cover;

}

form {
    padding: 50px 55px;
    text-align: center;
    background: transparent;
    border: 2px solid rgb(90, 57, 209);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #ffffff;
    font-size: 35px;
}

label {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #6062677e;
    border: 2px solid #5330d2;
    color: rgb(255, 255, 255);
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: rgb(169, 169, 169);
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #212529;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #FFFF;
    border: 0;
    border-radius: 15px;
    background-color: #5330d2;
    box-shadow: 0 0 20px rgba(90, 12, 215, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #643df4;
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }
    form {
        padding: 50px 30px;
        width: 100%;
    }
    input {
        padding: 15px;
    }
}